.idea
*.iml
*/.gitignore

__pycache__
.DS_Store
vite.config.js
*.db
notes.db*

data/**
frontend/dist
frontend/node_modules

docker/data
package-lock.json
#密码
.env
.env.*
!.env.example
*account*
*.crt
*.key

#*/fnfpk
venv/
