@import './base.css';
#app {
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

html, body {
  width: 100%;
  min-width: 100%;
  overflow-x: hidden; /* 防止横向滚动 */
}

@media (max-width: 2000px) {
  .mediaModal {
    height: calc(100vh);  /* 确保模态框本身占满屏幕 */
    width: calc(100vw);  /* 确保模态框本身占满屏幕 */
  }
}

/* 全局 CSS */
input,
textarea,
select {
  font-size: 16px !important;
}
