@import './base.css';
@import './version.css';
#app {
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

html, body {
  width: 100%;
  min-width: 100%;
  overflow-x: hidden; /* 防止横向滚动 */
}

.mediaModal{
  width: auto;
  min-width: 35vw;
  height: auto;
}
@media (max-width: 1500px) {
  .mediaModal {
    width: auto;
    min-width: 75vw;
    overflow-y: auto;
    height: calc(100vh);  /* 确保模态框本身占满屏幕 */
  }
}
@media (max-width: 1000px) {
  .mediaModal {
    width: calc(100vw);  /* 确保模态框本身占满屏幕 */
    height: calc(100vh);  /* 确保模态框本身占满屏幕 */
  }
}

/* 全局 CSS */
input,
textarea,
select {
  font-size: 16px !important;
}
