name: Build and Push Multi-Arch Image to Aliyun ACR and Docker Hub

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

env:
  # 阿里云 ACR(registry.cn-beijing.aliyuncs.com/base-chr/toolsplus:latest)
  ACR_REGISTRY: registry.cn-beijing.aliyuncs.com
  ACR_REPO: base-chr/toolsplus
  # Docker Hub（chrplus/toolsplus:latest）
  DOCKERHUB_USERNAME: chrplus
  DOCKERHUB_REPO: toolsplus
  TAG: ${{ github.ref_name }}
  BARK_URL: "https://api.day.app/${{ secrets.BARK_TOKEN }}/toolsplus/docker push  "  # 修改为你的 Bark 推送 URL


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # 关键：启用 QEMU（支持 arm64）
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 1. 登录阿里云 ACR
      - name: Login to Aliyun ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.ACR_REGISTRY }}
          username: ${{ secrets.ALIYUN_ACR_USERNAME }}
          password: ${{ secrets.ALIYUN_ACR_PASSWORD }}

      # 2. 登录 Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 3. 构建并推送多平台镜像到两个仓库
      - name: Build and push multi-arch image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: |
            VERSION=${{ env.TAG }}
          tags: |
            ${{ env.ACR_REGISTRY }}/${{ env.ACR_REPO }}:${{ env.TAG }}
            ${{ env.ACR_REGISTRY }}/${{ env.ACR_REPO }}:latest
            ${{ env.DOCKERHUB_USERNAME }}/${{ env.DOCKERHUB_REPO }}:${{ env.TAG }}
            ${{ env.DOCKERHUB_USERNAME }}/${{ env.DOCKERHUB_REPO }}:latest

      # ====== Bark 通知 ======
      - name: Send Bark notification (success)
        if: success()
        run: |
          curl -X POST "https://api.day.app/${{ secrets.BARK_TOKEN }}" \
            -H 'Content-Type: application/json; charset=utf-8' \
            -d $'{
              "title": "✅ Docker 构建成功",
              "body": "Tag: ${{ env.TAG }}",
              "group": "ToolsPlus",
              "icon": "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png",
              "sound": "minuet",
              "url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            }'
          curl -X POST "${{ secrets.WECHAT_WEBHOOK_URL }}" \
            -H "Content-Type: application/json; charset=utf-8" \
            -d '{
              "msgtype": "news",
              "news": {
                "articles" : [
                  {
                    "title" : "ToolsPlus✅",
                    "description" : "Docker 构建成功\nTag: ${{ env.TAG }}",
                    "url" : "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}",
                    "picurl" : "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                  }
                ]}
            }'

      - name: Send Bark notification (failure)
        if: failure()
        run: |
          curl -X POST "https://api.day.app/${{ secrets.BARK_TOKEN }}" \
            -H 'Content-Type: application/json; charset=utf-8' \
            -d $'{
              "title": "❌ Docker 构建失败",
              "body": "Tag: ${{ env.TAG }}",
              "group": "ToolsPlus",
              "icon": "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png",
              "url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            }'
          curl -X POST "${{ secrets.WECHAT_WEBHOOK_URL }}" \
            -H "Content-Type: application/json; charset=utf-8" \
            -d '{
              "msgtype": "news",
              "news": {
                "articles" : [
                  {
                    "title" : "ToolsPlus❌",
                    "description" : "Docker 构建失败\nTag: ${{ env.TAG }}",
                    "url" : "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}",
                    "picurl" : "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                  }
                ]}
            }'
